<div>
    <h2>
        <span>Objets</span>
        <button class="btn btn-primary float-right jh-create-entity create-objet" [routerLink]="['/', { outlets: { popup: ['objet-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Objet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="objets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="objname"><span>Objname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span>Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="img"><span>Img</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pokedex.pokedexname"><span>Pokedex</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let objet of objets ;trackBy: trackId">
                <td><a [routerLink]="['../objet', objet.id ]">{{objet.id}}</a></td>
                <td>{{objet.objname}}</td>
                <td>{{objet.type}}</td>
                <td>{{objet.img}}</td>
                <td>
                    <div *ngIf="objet.pokedex">
                        <a [routerLink]="['../pokedex', objet.pokedex?.id ]" >{{objet.pokedex?.pokedexname}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../objet', objet.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'objet/'+ objet.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'objet/'+ objet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
